/* Typography */

.big {
  /* stylelint-disable-next-line scale-unlimited/declaration-strict-value */
  font-size: 2em;
}

/* Code */

pre {
  padding: 0.65em 1em;
  overflow: auto;
  border-radius: $radius;

  /* Reset styles in fenced code blocks in markdown (due to native overrides) */
  /* TODO: It would be better if this wasn't necessary... */
  & > code {
    display: unset;
    padding: unset;
    color: unset;
    line-height: unset;
    background-color: unset;
    border: unset;
    border-radius: unset;
  }
}
