/**
 * App Variables
 */

/* Colours */

$intent-primary: rgb(0, 112, 243);
$link-color: $intent-primary;

/* Typography */

$use-enhanced-type: true;
$text-color: $dark5;

/* Nav */

$logo-text-size: 1.3em;
